body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: whitesmoke;
}

#loginInterface, #juego-container {

    width: 90%;        
    max-width: 400px; 
    margin: auto;
    padding: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: aqua;
}

.campo{
    margin: 12px 0;
    display: flex;            
    align-items: center;   
    justify-content: center;
}

.campo label {
    margin-right: 8px;       
    font-weight: bold;
    white-space: nowrap;  
}

.campo input{
    flex: 1;                   
    max-width: 200px;      
    padding: 6px;
    border: 1px solid #333;
    border-radius: 4px;
}

input[type="text"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

input[type="password"] {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

input[type="number"] {
    width: 10%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

#loginBtn {
    background-color: rgb(158, 8, 204);
    color: white;
    font-size: 1.2rem;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    cursor: pointer;
    opacity: 0.5;        
    pointer-events: none; 
    transition: opacity 0.3s ease;
}

#loginBtn.activo {
    opacity: 1;
    pointer-events: auto;
}

#welcomeInterface {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5%;
    width: 90%;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.welcomeBtn {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.welcomeBtn button {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}
